.container {
    padding: 2.5rem 2rem;
    margin: 0 auto;

    height: 100vh;
    max-width: 992px;

    display: flex;
    flex-direction: column;

}

.containerLogin {
    flex: 1 1;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    gap: 2rem;

    align-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.login div input,
.login div button{    
    width: 14rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.login div:last-child {    
    display: flex;
    flex-direction: column;    
}