.verticalScheduleBarDays {
    
}

.horizontalScheduleBarDays {
    display: flex;
    justify-content: center;
    margin-top: 2rem;        
}

.horizontalScheduleBarDays div {
    display: flex;
    align-items: center;
    border-radius: 0.3rem;    
    width: auto;
    height: 3rem;    
    background: var(--gray-line);    
}

.horizontalScheduleBarDays div span {
    margin: 0 2rem;

    font-weight: bold;
    font-size: 1.5rem;    

    color: var(--purple);
}

.horizontalScheduleBarDays div span:first-child {
    /* padding-left: 7rem; */
}